body { 
	background: pink;
	font-family: 'Playfair Display', serif;
}

body.quiz { 
	background: linear-gradient(to bottom right, #9BF0FA, #FAE89B);
	height:100vh; 
	text-align: center;
}

body.landingquiz { 
	background: linear-gradient(to bottom right, #9BF0FA, #FAE89B);
	height:100vh; 
	text-align: center;
	padding-top: 10%;
}

body.completed { 
	background: linear-gradient(to bottom right, #9BF0FA, #FAE89B);
	height:100vh; 
	text-align: center;
	padding-top: 5%;
}

a {
    color: #F5F5EB;
	font-family: 'Droid Sans Mono', monospace;
}

a:hover {
    color: white;
}

p {
	color: white;
}

.completed .btn-danger{
	background-color: black;
	margin-top: 40px;
}

.landingquiz .btn-danger{
	background-color: black;
	margin-top: 40px;
}

.container-fluid {
    height:100vh; 
    background-color: white;
}

.question {
	background-color: white;
    padding: 40px 0px 60px 0px;
    margin: 10% 20px 20px 20px;
}

.first {
	height:100vh; 
	background-color: pink;
	padding: 10% 5% 15% 5%;
}

.first h2 {
	color: white;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
}

.second {
	background-color: white;
}

.second a {
	color: black;
}

.second .row {
	background-color: white;
	padding: 5% 5% 8% 5%;
}

.second .row h2{
	text-decoration: underline;
}

.start-description {
	color: black;
	font-size: 14px;
	font-family: 'Droid Sans Mono', monospace;
}


.col-md-12 img {
    width: 100%;
    max-width: 600px;
    padding: 20px 20px 0px 20px;
}

.question a {
	color: black;
}

.btn-lg {
	border-radius:0;
	border: none;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Droid Sans Mono', monospace;
}

.btn-danger{
	background-color: pink;
	padding: 20px 40px 20px 40px;
}

.btn-danger:hover{
	background-color: black;
	color: white;
}

.btn-danger:active:focus {
  background-color: black;
 }

.btn-danger:focus {
  background-color: black;
}

form {
	margin-bottom: 40px;
	display: inline-block;
   	text-align:left;
}

form label {
	font-family: 'Droid Sans Mono', monospace;
	font-size: 18px;
	font-weight: bold;
	color: black;
}

h1 {
	color: black;
	font-size: 72px;
	margin-bottom: 20px;
	font-weight: inherit;
	line-height: 90px;
}

h2 {
	font-family: 'Droid Sans Mono', monospace;
	color: black;
	font-size: 24px;
	padding-top: 10px;
}

h3 {
	color: black;
}